@font-face {
  font-family: "Monospace 821";
  src: url("Bitstream - Monospac821 BT Roman.woff") format("woff");
}

@font-face {
  font-family: "Favorit";
  src: url("ABCFavorit-Bold-Trial.woff") format("woff");
}

body{
	overflow-x: hidden;
}



.box{
	width: 95%;
	border: solid 1px black;
	margin: auto;
	margin-top: 1rem;
	font-family: "Monospace 821";
	color: black;
	font-size: 1.5rem;
    padding: .5rem;
}



.pgone{
	animation: pgone1 15s infinite;
	position: relative;
	animation-timing-function: linear;
}

a{
	text-decoration: none;
}


.container{
	margin-top: 5rem;
}

.containerpg1{
	margin-top: none;
	overflow-y: hidden;
}


.footer1{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 12rem;
	font-size: 2rem;
	margin-left: 2.3%;
	column-gap: 31%;
}

.footer2{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 3.5rem;
	font-size: 2rem;
	margin-left: 2.3%;
	column-gap: 31%;
}

.footer3{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 3.5rem;
	font-size: 2rem;
	margin-left: 2.3%;
	column-gap: 31%;
}

.footermargin{
	margin-top: 16rem;
}

.abc{
		font-family: "Monospace 821";

}

@keyframes pgone1{
	0%{
		bottom: 65rem;
	}

    100%{
    	bottom: -100rem;
    }
}


.pgtwo1{
	animation: pgtwo1 15s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgtwo1{
	0%{
		left: 100%;
	}

    100%{
    	left: -100%
    }
}

.pgtwo2{
	animation: pgtwo2 13s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgtwo2{
		0%{
		right: 100%;
	}

    100%{
    	right: -100%
    }
}

.pgtwo3{
	animation: pgtwo3 10s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgtwo3{
	0%{
		left: 100%;
	}

    100%{
    	left: -100%
    }
}

.pgtwo4{
	animation: pgtwo4 16s infinite;
	position: relative;
	animation-timing-function: linear;
}


@keyframes pgtwo4{
		0%{
		right: 100%;
	}

    100%{
    	right: -100%
    }
}

.pgtwo5{
	animation: pgtwo5 12s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgtwo5{
		0%{
		left: 100%;
	}

    100%{
    	left: -100%
    }
}

.pgtwo6{
	animation: pgtwo5 15s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgtwo5{
	0%{
		right: 100%;
	}

    100%{
    	right: -100%
    }
}

.pgthree1{
	animation: pgthree1 1s infinite;
	animation-timing-function: linear;
	position: relative;
}

@keyframes pgthree1{
	0%{
		top: 0rem;
	}

	25%{
		top: -4rem;
	}

	50%{
		top: 0rem;
	}

	75%{
		top: 4rem;
	}

	100%{
		top: 0rem;
	}
}

.pgthree2{
	animation: pgthree2 3s infinite;
	animation-timing-function: linear;
	position: relative;
}

@keyframes pgthree2{
	0%{
		top: 0rem;
	}

	25%{
		top: -4rem;
	}

	50%{
		top: 0rem;
	}

	75%{
		top: 4rem;
	}

	100%{
		top: 0rem;
	}
}

.pgthree3{
	animation: pgthree3 2s infinite;
	animation-timing-function: linear;
	position: relative;
}

@keyframes pgthree3{
	0%{
		top: 0rem;
	}

	25%{
		top: -4rem;
	}

	50%{
		top: 0rem;
	}

	75%{
		top: 4rem;
	}

	100%{
		top: 0rem;
	}
}

.pgthree4{
	animation: pgthree4 6s infinite;
	animation-timing-function: linear;
	position: relative;
}

@keyframes pgthree4{
	0%{
		top: 0rem;
	}

	25%{
		top: -4rem;
	}

	50%{
		top: 0rem;
	}

	75%{
		top: 4rem;
	}

	100%{
		top: 0rem;
	}
}

.pgthree5{
	animation: pgthree5 2s infinite;
	animation-timing-function: linear;
	position: relative;
}

@keyframes pgthree5{
	0%{
		top: 0rem;
	}

	25%{
		top: -4rem;
	}

	50%{
		top: 0rem;
	}

	75%{
		top: 4rem;
	}

	100%{
		top: 0rem;
	}
}

.pgthree6{
	animation: pgthree6 1s infinite;
	animation-timing-function: linear;
	position: relative;
}

@keyframes pgthree6{
	0%{
		top: 0rem;
	}

	25%{
		top: -4rem;
	}

	50%{
		top: 0rem;
	}

	75%{
		top: 4rem;
	}

	100%{
		top: 0rem;
	}
}

.pgthree7{
	animation: pgthree7 14s infinite;
	animation-timing-function: linear;
	position: relative;
}

@keyframes pgthree7{
	0%{
		top: 0rem;
	}

	25%{
		top: -4rem;
	}

	50%{
		top: 0rem;
	}

	75%{
		top: 4rem;
	}

	100%{
		top: 0rem;
	}
}

.pgfour1{
	animation: pgfour1 1s infinite;
}

@keyframes pgfour1{
	0%{
		opacity: 100%
	}

	50%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}

.pgfour2{
	animation: pgfour2 3s infinite;
}

@keyframes pgfour2{
	0%{
		opacity: 100%
	}

	50%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}

.pgfour3{
	animation: pgfour3 2s infinite;
}

@keyframes pgfour3{
	0%{
		opacity: 100%
	}

	50%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}

.pgfour4{
	animation: pgfour4 4s infinite;
}

@keyframes pgfour4{
	0%{
		opacity: 100%
	}

	50%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}

.pgfour5{
	animation: pgfour5 1s infinite;
}

@keyframes pgfour5{
	0%{
		opacity: 100%
	}

	50%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}

.pgfour6{
	animation: pgfour6 2s infinite;
}

@keyframes pgfour6{
	0%{
		opacity: 100%
	}

	50%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}

.pgfour7{
	animation: pgfour7 4s infinite;
}

@keyframes pgfour7{
	0%{
		opacity: 100%
	}

	50%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}


.pgfour8{
	animation: pgfour8 3s infinite;
}

@keyframes pgfour8{
	0%{
		opacity: 100%
	}

	50%{
		opacity: 0%;
	}

	100%{
		opacity: 100%;
	}
}

.one:hover{
 background-color: red;
}

.two:hover{
 background-color: yellow;
}

.three:hover{
	background-color: #39FF14;
}

.four:hover{
	background-color: #bc13fe;
}

.five:hover{
	background-color: #011ffd;
}

.six:hover{
	background-color: green;
}

.seven:hover{
	background-color: #13ca91;
}


.eight:hover{
	background-color: #f000ff;
}


.nine:hover{
	background-color: #FF5F1F;
}

.ten:hover{
	background-color: orange;
}





@media  screen and (max-width: 1200px) {
.footer1{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 3rem;
	font-size: 2rem;
	margin-left: 3%;
	column-gap: 20%;
}


.footer2{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	font-size: 2rem;
	margin-left: 3%;
	column-gap: 20%;
}

.footer3{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	font-size: 2rem;
	margin-left: 3%;
	column-gap: 20%;
}


.container{
	margin-top: 6rem;
}

.containerpg1{
	margin-top: none;
	overflow-x: hidden;
}


}


@media screen and (max-width: 755px) {

.footer1{
    column-gap: 10%;
    font-size: 1.7rem;
}

.footer2{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	font-size: 1.7rem;
	margin-left: 3%;
	column-gap: 10%;
}

.footer3{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: -4rem;
	font-size: 1.7rem;
	margin-left: 3%;
	column-gap: 10%;
}

  .containerpg1{
  	margin-top: none;
  	margin-bottom: -5rem;
  	position: static;
  	overflow-y: hidden;
  	overflow-x: hidden;
  }

}

@media screen and (max-width: 376px) {
  .box{
  	font-size: 16px;
  	height: 10rem;
  	width: 90%;
  }

  .footer1{
  column-gap: 19%;
  font-size: 1rem;
  margin-top: .9rem;
  margin-bottom: none;

  }


  .footer2{
  	margin-top: .9rem;
  	font-size: 1rem;
  	column-gap: 19%;
  }

 .footer3{
  	margin-top: -5rem;
  	font-size: 1rem;
  	column-gap: 19%;
  }

  .containerpg1{
  	margin-top: none;
  	margin-bottom: -5rem;
  	position: static;
  	overflow-y: hidden;
  	overflow-x: hidden;
  }


  .container{
  	margin-top: 0rem;
  	margin-bottom: .9rem;
  	position: static;
  	overflow-y: hidden;
  	overflow-x: hidden;
  }

  

  p{
  	vertical-align: middle;
  }



  body{
	overflow-x: hidden;
}



}


