@font-face {
  font-family: "Monospace 821";
  src: url("Bitstream - Monospac821 BT Roman.woff") format("woff");
}

@font-face {
  font-family: "Favorit";
  src: url("ABCFavorit-Bold-Trial.woff") format("woff");
}

body{
	overflow-x: hidden;
}


.box{
	width: 95%;
	border: solid 1px black;
	margin: auto;
	margin-top: 1rem;
	font-family: "Monospace 821";
	color: black;
	font-size: 1.5rem;
    padding: .5rem;
}

.pgone1{
	animation: pgone1 15s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgone1{
	0%{
		left: 100%;
	}

    100%{
    	left: -100%;
    }
}

.pgone2{
	animation: pgone2 15s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgone2{
	0%{
		right: 100%;
	}

    100%{
    	right: -100%;
    }
}

.pgone3{
	animation: pgone3 16s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgone3{
	0%{
		left: 100%;
	}

    100%{
    	left: -100%;
    }
}

.pgone4{
	animation: pgone4 17s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgone4{
	0%{
		right: 100%;
	}

    100%{
    	right: -100%;
    }
}

.pgone5{
	animation: pgone5 15s infinite;
	position: relative;
	animation-timing-function: linear;
}

@keyframes pgone5{
	0%{
		left: 100%;
	}

    100%{
    	left: -100%;
    }
}



.one:hover{
 background-color: red;
}

.two:hover{
 background-color: yellow;
}

.three:hover{
	background-color: #39FF14;
}

.four:hover{
	background-color: #bc13fe;
}

.five:hover{
	background-color: #011ffd;
}

.six:hover{
	background-color: green;
}

.seven:hover{
	background-color: #13ca91;
}


.eight:hover{
	background-color: #f000ff;
}


.nine:hover{
	background-color: #FF5F1F;
}

.ten:hover{
	background-color: orange;
}


a{
	text-decoration: none;
}



.container{
	margin-top: 5rem;

}


.footer{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 12rem;
	font-size: 2rem;
	margin-left: 2.3%;
	column-gap: 64%;
}

.footer2{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 3.5rem;
	font-size: 2rem;
	margin-left: 2.3%;
	column-gap: 64%;
}



@media  screen and (max-width: 1200px) {
.footer{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 3rem;
	font-size: 2rem;
	margin-left: 3%;
	column-gap: 46%;
}



.footer2{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	font-size: 2rem;
	margin-left: 3%;
	column-gap: 46%;
}

.container{
	margin-top: 6rem;
}

}


@media screen and (max-width: 755px) {

.footer{
    column-gap: 15%
}

.footer2{
	font-family: "Favorit";
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	font-size: 2rem;
	margin-left: 3%;
	column-gap: 15%;
}


}

@media screen and (max-width: 376px) {
  .box{
  	font-size: 16px;
  	height: 10rem;
  	width: 90%;
  }

  .container{
  	margin-top: 2rem;
  }

  p{
  	vertical-align: middle;
  }

  .footer{
  font-size: 1rem;
  margin-top: .9rem;
    margin-bottom: none;
  }

   .footer2{
    font-size: 1rem;
    
     
  }

}


